<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2 {
    color: #333;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
iframe {
    margin: 10px 0;
}
=======
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2 {
    color: #333;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
iframe {
    margin: 10px 0;
}
>>>>>>> 6eb9e7f (deploy)
